body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Elimina el scroll de la página */
    background-image: url('ruta/a/tu/imagen.jpg');
    /* Ruta de la imagen de fondo */
    background-size: cover;
    background-attachment: fixed;
    /* Fija la imagen de fondo */
    background-position: center;
}

/* Cambia el color de fondo del input */
.form-control {
    background-color: #cce4fc;
    border-radius: 0;
    border: none;
}

label {
    color: #fff;
    font-weight: bold;
}

.btn-outline-info {
    background-color: #f08c00;
    border-color: #f08c00;
}

.btn-outline-info:hover {
    background-color: #b37a2c;
    border-color: #f08c00;
}

/* Estilos para el nuevo div "Agenda tu cita" */
.agenda-header {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    /* Espacio entre el título y el formulario */
    padding-right: 460px;
    z-index: 2;
}

/* Contenedor del formulario */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ocupa toda la altura de la ventana */
    overflow-y: auto;
    /* Permite scroll interno si es necesario */
}

/* Estilos para la tarjeta del formulario */
.card {
    width: 800px;
    max-height: 90vh;
    /* Altura máxima del formulario */
    background-color: #1a2838;
    overflow-y: auto;
    /* Permite scroll interno si el contenido es muy largo */
}
